@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-dark--0: #0a1128;
  --color-dark--1: #2d3439;
  --color-light--1: #fefcfb;
  --color-primary--1: #001f54;
  --color-primary--2: #085092;
  --transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;

  font-size: 1.8rem;
}
